* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #111;
    height: 100%;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start {
    border: none;
    border-bottom: 5px solid #bbb;
    border-radius: 0;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
    visibility: hidden;
}

#start:active {
    margin-top: 5px;
    border-bottom: none;
}